yay
config/tmux/plugins
.config/tmux/plugins
.config/vesktop/sessionData
.config/vesktop/Crashpad
.config/vesktop/state.json
.config/vesktop/SingletonCookie
.config/vesktop/SingletonLock
.config/vesktop/SingletonSocket
